<div id="about">
<div style="margin-top: 4em; color:rgb(88, 87, 87)">
  <h3>Welcome to Virtual Coders
  </h3>
  <br>
  <p style="text-align:center; font-size:16px; font-family:Montserrat, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;color:black; line-height:0.4em">We’re a <strong> Distributed Company </strong> with dedicated Passion, Ambition, and Vision. We’re not just a Company; we’re</p>
  <p style="text-align:center;font-size:16px; font-family:Montserrat, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;color:black; line-height:0.4em"> family of Real People with same Vision who find strength and unity in diversity. We make sure our family is </p>
    <p style="text-align:center;font-size:16px; font-family:Montserrat, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;color:black; line-height:0.4em">composed of only the best people in the market today.</p>
    <br>
  <p style="text-align:center;font-size:16px; font-family:Montserrat, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;color:black;line-height:0.4em">We, as family are on a mission to make difference in technology world by exploring and implementing latest </p>
  <p style="text-align:center;font-size:16px; font-family:Montserrat, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;color:black;line-height:0.4em">technologies, be it <strong>SMAC </strong> (social, mobile, analytics and cloud) or IoT.</p>
  <br>
  <p style="text-align:center;font-size:16px; font-family:Montserrat, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;color:black;line-height:0.4em">We’ve been creating a benchmark by winning a heart of our clients across the globe with our Integrity, </p>
  <p style="text-align:center;font-size:16px; font-family:Montserrat, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;color:black;line-height:0.4em">Reliability and Quality</p>
</div>

<br>
<div>
    <h3 style="color:rgb(88, 87, 87);line-height:2em">How We Work
    </h3>
</div>
<br>
  <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="50px"
     fxLayoutGap.xs="0" [@movePanel]='state'>
   <div class="item item-1 center" fxFlex="40%" >
    <img src="assets/img/bg/strategy.png">
    <h4 class="h4-responsive" style="line-height:2em">Ideation and Strategy</h4>
      <p >Need big ideas for your app screens? Our consultative approach will help you to explore creative solutions wherein our team does epic smartstorming with you on where to begin, where to go, and how to get you there. Whether you have an idea or an existing app - we can help.</p>
   </div>
    
   <div class="item item-2 center" fxFlex="40%" >
    <img src="assets/img/bg/design.png">
    <h4 class="h4-responsive" style="line-height:2em">Design & Branding</h4>
    <p>Absorbing your spec, we create draft concepts. Further, we craft UX (User Experience), build desirable BX (Brand Experience) and always add essence of CX (Customer Experience) to build loyal customer base. Our ultimate focus is to deliver user-friendly designs that provide a world-class product experience.</p>
   </div>
   <div class="item item-3 center" fxFlex="40%">
    <img src="assets/img/bg/development.png">
    <h4 class="h4-responsive">Development</h4>
    <p>Design all sorted? Do you need native iOS or Android app? Prefer a cross-platform app? Require a secure backend? If you want it, we can build it. We have handpicked developers who can develop stunning apps for you, with you.</p>
   </div>
  </div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="50px"
     fxLayoutGap.xs="0" [@movePanel]='state'>
  <div class="item item-4 center" fxFlex="40%">
    <img src="assets/img/bg/qa.png">
    <h4 class="h4-responsive" style="line-height:2em">QA</h4>
    <p style="line-height:25px;">The quality of your source code is something you will have to deal with years from now. Our Agile methodology for app development ensures delivery of high quality apps. Test Driven Development for Unit testing to Integration testing has now shifted from being only the Tester’s responsibility to the shared responsibility of the Dev Team</p>
  </div>
  <div class="item item-5 center" fxFlex="40%">
    <img src="assets/img/bg/marketing.png">
    <h4 class="h4-responsive" style="line-height:2em">Digital Marketing</h4>
     <p style="line-height:25px; ">In the growing Digital World, it's vital to have strong Digital Marketing strategy to ensure the success of your product. We help you create pre launch to post launch strategy right from creating conversion funnel through landing pages and App store Optimization. Our digital marketing action plan helps you to build relationship with end users to walk extra mile with your product.</p>
  </div>
  
</div>
<br>
<mat-card>
    <h1 class="center h3-responsive" style="color:black; font-family:cursive">GET FREE CONSULTATION FROM OUR EXPERT
      <button mat-raised-button>GET NOW</button>
    </h1>
</mat-card>
</div>