<h1 class=center style="margin-top: 3em; color:rgb(88, 87, 87); line-height:3em"> What we offer</h1>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px"
     fxLayoutGap.xs="0" style=" line-height:1.8em">
  <div class="item item-1 center" fxFlex="30%" style="text-align:center;color:black" [@movePanel]='state'>
    <img src="assets/img/bg/iphn.png">
    <h3>iPhone App Development</h3>
        <p>From iPhone to iPad to Apple Watch - we've built an iOS apps that engages users. At Virtual Coders, we architect apps and use the latest tech to formulate a shorter go-to-market timeline and develop custom iOS apps for you that create an impact</p>
  </div>
    
  <div class="item item-2 center" fxFlex="30%" style="text-align:center; color:black" [@movePanel]='state'>
    <img src="assets/img/bg/android.png">
    <h3>Android App Development</h3>
        <p>The fragmentation of Android OS is one of it’s most distinctive features. We design and develop mobile apps for various screen resolutions, processor capabilities and OS versions which cover 98% of the Android user base. Reach out to millions of users to increase the revenue through flawless apps we develop for you, with you.</p>
  </div>
  <div class="item item-3 center" fxFlex="30%" style="text-align:center; color:black" [@movePanel]='state'>
    <img src="assets/img/bg/ionic.png">
    <h3>Ionic Cross Platform App Develpment</h3>
      <p>Ionic is the beautiful and open source mobile SDK for developing native and progressive web apps with ease. With Ionic, We help startups and agencies streamline app development. Working with us ensures huge time and cost savings by writing less code and achieve greater productivity.</p>
  </div>
</div>
  <br>
  <div class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="50px"
  fxLayoutGap.xs="0" style="line-height:1.8em">
  <div class="item item-3 center" fxFlex="30%" style="text-align:center;color:black; font-size:16px" [@movePanel]='state'>
    <img src="assets/img/bg/ruby.png">
    <h3>Ionic Cross Platform App Develpment</h3>
      <p>Ionic is the beautiful and open source mobile SDK for developing native and progressive web apps with ease. With Ionic, We help startups and agencies streamline app development. Working with us ensures huge time and cost savings by writing less code and achieve greater productivity.</p>
  </div>

  <div class="item item-4 center" fxFlex="30%" style="text-align:center;color:black" [@movePanel]='state'>
    <img src="assets/img/bg/angular.png">
    <h3>AngularJS Development</h3>
      <p>AngularJS is quickly becoming the comprehensive framework for rapid front-end development. With AngularJS, we make web development environment extraordinarily expressive, readable, and quick to develop. Our AngularJS developers use standard methods, code reviews, integration and frequent testing in order to ensure reliability</p>
  </div>

  <div class="item item-5 center" fxFlex="30%"  style="text-align:center;color:black" [@movePanel]='state'>
    <img src="assets/img/bg/node.png">
    <h3>Node JS Development</h3>
      <p>Node.JS was born with the goal to provide a JavaScript-based application development platform that is current, reliable, and stable. Explore the advantages of using Node.js to develop systems of engagement which lower costs as you don't need more servers and ensures your app can withstand a huge number of users. Our Node.js developers deal with systems that handle serious volumes of traffic.</p>
  </div>

</div>
<br>

<mat-card><b>
    <h1 class="center h3-responsive" style="color:black; font-family:cursive">LET'S BUILD YOUR APP SUCCESS
      <button mat-raised-button >LET'S TALK</button>
    </h1></b><br>
</mat-card>
 
  
      
   
