<!--Contact Form-->
<footer class="page-footer gray center-on-small-only" [@flyInOut] style="margin-top: 4em">

    <!--Footer Links-->
    <div class="container">
 
<div class="h1-responsive row " >
    <h1 style="line-height:3em" class="col">
      Like What you see? Let's talk
     </h1>
  </div>
<form class="responsive">
  <!--first row-->
  <div class="row" >
    <div class="md-form col"  >
     <input type="text" id="form3" class="form-control form-group" mdbActive>
      <label for="form3" style="color:#efbf19; font-size:20px">First name</label>
      
    </div>

  <div class="md-form col"  >
   <input type="text" id="form3" class="form-control form-group" mdbActive>
    <label for="form3" style="color:#efbf19; font-size:20px">Last name</label>
  </div>
</div>

<!--second row-->
<div class="row" >
  <div class="md-form h1-responsive col"  >
   <input type="text" id="form2" class="form-control form-group h1-responsive" mdbActive>
      <label for="form2" style="color:#efbf19; font-size:20px">Your email</label>
  </div> 

  <div class="md-form h1-responsive col"  >
    <input type="tel" id="form11" class="form-control form-group h1-responsive " data-error="wrong tel" data-success="right tel" mdbInputValidate>
    <label mdbActive for="form11" style="color:#efbf19; font-size:20px">Phone Number</label>
  </div>

  <div class="md-form h1-responsive col"  >
      <input type="text" id="form32" class="form-control form-group " mdbActive>
      <label for="form34" style="color:#efbf19; font-size:20px">Company Name</label>
  </div>
</div>

<!--Third row-->
<div class="md-form row" >
    <textarea type="text" id="form8" class="md-textarea form-group col" style="height: 50px" mdbActive></textarea>
      <label for="form8" style="color:#efbf19; font-size:20px">Give Us More Details..</label>
 </div>
 <div class="row">
  <button type="button" class="btn btn-send  waves-light" mdbRippleRadius>Send Message</button>
</div>

</form>

<!--Contact Form-->
<div fxLayout
  fxLayoutAlign="center"
  fxLayoutGap="10px" class="row" style="line-height:1em; margin-top:2em">

    <div class="item item-1 center h6-responsive col"  >
        <h6>Don't like forms?</h6>
        <p>Just click to drop us a note:</p>
        <a href="mailto:hello@virtualcoders.in" style="color:goldenrod">hello@virtualcoders.in</a>
    </div>
    <div class="item item-1 center h6-responsive col" >
        <h6>Looking for a job?</h6>
        <p>Send your resume to:</p>
        <a href="mailto:hireme@virtualcoders.in" style="color:goldenrod">hireme@virtualcoders.in</a>
    </div>
    <div class="item item-1 center h6-responsive col" >
        <h6>Want to reach us now?</h6>
        <p>Call On: <a href="tel:9714867090"> +91 971 486 7090</a>
        </p>
        <p>Skype us:<a href="callto:virtualcodersindia" style="color:goldenrod"> virtualcodersindia</a>
        </p>
    </div>
</div>
<div class="footer-copyright">
    <div class="container-fluid">
  ©2017.Virtual Coders. All Rights Reserved &nbsp;&nbsp;
  <a href="https://twitter.com/virtual_coders" class=" btn bg-twitter"><i class="fa fa-twitter" ></i></a>&nbsp;&nbsp;
  <a class="btn-floating btn-small btn-fb waves-light" class="btn bg-facebook"><i class="fa fa-facebook"> </i></a>
  <a href="https://www.instagram.com/virtualcoders/" class="btn bg-instagram"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
  <a href="https://www.linkedin.com/company/virtualcoders/"class="btn bg-linkedin"><i class="fa fa-linkedin"></i></a>

  </div></div>

</div>
</footer>
