@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto");html{font-size:100%;}
@media all and (max-width:768px){html{font-size:75%;}
}
body{font-size:14px;line-height:25px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:"Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#585858;font-weight:400;overflow-x:hidden;min-height:3500px;}
h1,h2,h3,h4,h5,h6{font-family:"Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:400;margin-top:0;margin-bottom:0;}
p{font-family:'Roboto', sans-serif;line-height:25px;}
h1{font-size:30px;line-height:45px;}
h2{font-size:32px;line-height:40px;}
h3{font-size:28px;line-height:35px;}
h4{font-size:24px;line-height:25px;}
h5{font-size:18px;line-height:25px;}
h6{font-size:14px;line-height:25px;}
p{font-size:14px;line-height:25px;}
@media all and (max-width:767px){h1{font-size:24px;line-height:35px;}
h2{font-size:22px;line-height:30px;}
h3{font-size:20px;line-height:30px;}
h4{font-size:18px;line-height:25px;}
h5{font-size:16px;line-height:25px;}
h6{font-size:13px;line-height:25px;}
p{font-size:13px;line-height:25px;}
}
a,
a:hover,
a:focus,
a:active{text-decoration:none;outline:none;webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
/* himanshu*/
.color-light.fadeInDown.wow.color-light.animated.animated {
    margin-bottom: 20px;
}
.navbar.header.navbar-fixed-top .add.white{display:block;}
.navbar.header.navbar-fixed-top .add.black{display:none;}

.navbar.header.navbar-fixed-top.sticky_header .add.white{display:none;}
.navbar.header.navbar-fixed-top.sticky_header .add.black{display:block;}


.bg-overlay-gradientsbx{background:#fc00ff;background:-webkit-linear-gradient(to left, #fc00ff , #00dbde);background:linear-gradient(to left, #fc00ff , #00dbde);
padding:30px 0px;}
.bg-overlay-gradientsbx h3{color:#fff;font-family:"Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.bg-overlay-gradientsbx h3 a{padding:5px 15px;border:solid 2px #fff;color:#fff;font-family:"Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.bg-overlay-gradientsbx h3 a:hover{color:#333;border:solid 2px #333;}
.ftrline p {
    color: #fff;
}
.ftrline h6 {
    color: #fff;
}
h3.pb20 {
    color: #efbf19;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
.btn.btn-primary.back-to-top{background-color:#efbf19;padding: 5px 10px;}
.btn.btn-primary.back-to-top:hover{border-color:#000;background:#000;}
.btn.btn-primary.back-to-top:hover .glyphicon.glyphicon-chevron-up{color:#efbf19;}
.glyphicon.glyphicon-chevron-up {
    font-size: 20px;
    top: 3px;
	color:#000;
}

.bgsbx{background:#efbf19;padding:30px 0px;}
.bgsbx h3{text-transform:uppercase;color:#000;font-family:"Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: center;}
.bgsbx h3 a{margin-left:10px;text-transform:capitalize;position:relative;bottom:5px;font-size:14px;padding:15px;border:solid 1px #444;border-radius:5px;color:#444;font-family:"Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.bgsbx h3 a:hover{color:#fff;border:solid 1px #fff;}
.bgsbx h3 span{color:#fff;}


.section.db .appointment_form .btn-info:hover, .section.db .appointment_form .btn-info:focus, .section.db .appointment_form .btn-info, .section.db .appointment_form .form-control {
    background-color: #262626 !important;
    border-color: #333;
}
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info.focus:active, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus, .appointment_form .btn-info:hover, .appointment_form .btn-info:focus, .appointment_form .btn-info, .appointment_form .form-control {
    background-color: #ffffff !important;
    border: 1px solid #ededed;
    border-radius: 3px;
    box-shadow: none !important;
    color: #999999 !important;
    height: 50px;
    margin-bottom: 30px;
    padding: 10px !important;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
    display: inline-block;
    float: none;
    margin-left: 0;
}
.bootstrap-select {
}
.workinghours ul {
    list-style: outside none none;
    padding: 0;
}
.section.db .workinghours li:first-child {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
}
.section.db .workinghours li {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}
.workinghours li:first-child {
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}
.workinghours li {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    color: #999999;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.workinghours i {
    margin-right: 10px;
}
.workinghours li span {
    position: absolute;
    right: 0;
	color:#efbf19;
}

.about_us .minheight{min-height:355px;}


.section.db .appointment_form .btn-info:hover, .section.db .appointment_form .btn-info:focus, .section.db .appointment_form .btn-info, .section.db .appointment_form .form-control {
    background-color: #262626 !important;
    border-color: #333;
}
.btn-group > .btn:first-child {
    margin-left: 0;
}
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info.focus:active, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus, .appointment_form .btn-info:hover, .appointment_form .btn-info:focus, .appointment_form .btn-info, .appointment_form .btn-info:hover, .appointment_form .btn-info:focus, .appointment_form .btn-info {
    margin-bottom: 0;
}
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info.focus:active, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus, .appointment_form .btn-info:hover, .appointment_form .btn-info:focus, .appointment_form .btn-info, .appointment_form .btn-info:hover, .appointment_form .btn-info:focus, .appointment_form .btn-info {
    margin-bottom: 0;
}
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info.focus:active, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus, .appointment_form .btn-info:hover, .appointment_form .btn-info:focus, .appointment_form .btn-info, .appointment_form .form-control {
    background-color: #ffffff !important;
    border: 1px solid #ededed;
    border-radius: 3px;
    box-shadow: none !important;
    color: #999999 !important;
    height: 50px;
    margin-bottom: 30px;
    padding: 10px;
}
.bootstrap-select > .dropdown-toggle {
    padding-right: 25px;
    width: 100%;
    z-index: 1;
}
.btn-group-vertical > .btn, .btn-group > .btn {
    float: left;
    position: relative;
}

.bootstrap-select > select {
    border: medium none;
    bottom: 0;
    display: block !important;
    height: 100% !important;
    left: 50%;
    opacity: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    width: 0.5px !important;
}
select.bs-select-hidden, select.selectpicker {
    display: none;
}
.bootstrap-select.btn-group .dropdown-menu {
    box-sizing: border-box;
    min-width: 100%;
}
.appointment_form .dropdown-menu {
    border: 0 none;
}
.appointment_form .dropdown-menu {
    border: 1px solid #f1edea !important;
    border-radius: 0;
    box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    float: none;
    margin: 0;
    padding: 0;
    position: static;
}
.bootstrap-select.btn-group .dropdown-menu {
    box-sizing: border-box;
    min-width: 100%;
}
#comments.form-control {
    height: 100px;
    resize: none;
}
.appointment_form .dropdown-menu {
   border: 0 none;
}
.appointment_form .dropdown-menu {
    border: 1px solid #f1edea !important;
    border-radius: 0;
    box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}

.btn.dropdown-toggle.btn-info{margin-bottom:0px!important;}

.btn.btn-primary.btb{border:#efbf19;background:#efbf19;color:#000;margin-bottom:25px;}
.btn.btn-primary.btb:hover{border:#efbf19;opacity:0.9}
.footer_sub {
    background-color: #1d1e20;
    padding: 15px 0 10px;
}
.footer_author p {
    font-size: 12px;
    line-height:18px;
    margin: 0;
    padding: 0;
}
.btncenter{float:none;margin:0 auto;display:black;}
.ftrline{border-top:solid 1px #333;margin-top:25px;}
.ftrline p {
    margin: 0;
}
.ftrline p a {
    color:#efbf19;
}
.ftrline a {
    color:#efbf19;
}
.ftrline p a:hover {
    opacity:0.7;
}
.ftrline a:hover {
    opacity:0.7;
}
.contact_form.appointment_form .form-control {
    margin-bottom: 10px;
}

.contact_form .form-group .controls .form-control {
    background-color: transparent !important;
    border-color: #efbf19 !important;
    border-radius: 0;
    border-style: none none solid !important;
    border-width: medium medium 1px !important;
    box-shadow: none !important;
    color: #fff !important;
}

.contact_form .form-group .controls .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #efbf19;
}
.contact_form .form-group .controls .form-control::-moz-placeholder { /* Firefox 19+ */
  color:  #efbf19;
}
.contact_form .form-group .controls .form-control:-ms-input-placeholder { /* IE 10+ */
  color:  #efbf19;
}
.contact_form .form-group .controls .form-control:-moz-placeholder { /* Firefox 18- */
  color:  #efbf19;
}

/* himanshu*/


@media all and (max-width:767px){.text-center-xs{text-align:center;}
.text-left-xs{text-align:left;}
.text-right-xs{text-align:right;}
}
.btn{display:inline-block;padding:10px 35px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
@media all and (max-width:767px){.btn{padding:7px 20px;}
}
.btn-rounded{border-radius:25px;}
.btn_blue{background-color:#efbf19 ;color:#ffffff;border:1px solid #efbf19 ;}
.btn_blue:hover,.btn_blue:focus{background-color:#166eb7;color:#fafafa;}
.btn-white-dark{background-color:#fff;border:solid 1px #eee;color:#efbf19  !important;}
.btn-white-dark:hover{background-color:#333;color:#fff !important;border:solid 1px #333;}
.btn-blue-dark{background-color:#efbf19 ;border:solid 1px #efbf19 ;color:#ffffff !important;}
.btn-blue-dark:hover{background-color:#333;color:#fff !important;border:solid 1px #333;}
.btn-dark-white{border:solid 1px #eee;background-color:#333;color:#fff !important;}
.btn-dark-white:hover{background-color:#fff;color:#efbf19  !important;border:solid 1px #efbf19 ;}
.btn_blue_white{background-color:#efbf19 ;color:#ffffff;border:1px solid #efbf19 ;}
.btn_blue_white:hover{background-color:#ffffff;color:#efbf19 ;border:1px solid #e8e8e8;}
.btn_white_blue{background-color:#ffffff;color:#333333;border:1px solid #e8e8e8;}
.btn_white_blue:hover{background-color:#efbf19 ;color:#ffffff;border:1px solid #efbf19 ;}
#loader-wrapper{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;}
#loader{display:block;position:relative;left:50%;top:50%;width:100px;height:100px;margin:-75px 0 0 -75px;border-radius:50%;border:3px solid transparent;border-top-color:#3498db;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite;z-index:1001;}
#loader:before{content:"";position:absolute;top:5px;left:5px;right:5px;bottom:5px;border-radius:50%;border:3px solid transparent;border-top-color:#e74c3c;-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite;}
#loader:after{content:"";position:absolute;top:15px;left:15px;right:15px;bottom:15px;border-radius:50%;border:3px solid transparent;border-top-color:#f9c922;-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite;}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}
#loader-wrapper .loader-section{position:fixed;top:0;width:51%;height:100%;background:#222222;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
#loader-wrapper .loader-section.section-left{left:0;}
#loader-wrapper .loader-section.section-right{right:0;}
.loaded #loader-wrapper .loader-section.section-left{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);transition:all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);}
.loaded #loader-wrapper .loader-section.section-right{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);-webkit-transition:all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);transition:all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);}
.loaded #loader{opacity:0;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.loaded #loader-wrapper{visibility:hidden;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);-webkit-transition:all 0.3s 1s ease-out;transition:all 0.3s 1s ease-out;}
.imgg{display:block;margin:0 auto;}
@media (min-width:768px){.col-right{float:right;}
}
.call_us_section h3{color:#ffffff;margin-bottom:15px;}
.bgsbx.call_us_section h3{color:#000;margin-bottom:0px;}
.call_us_section p{color:#fafafa;font-size:16px;}
.call_us_section a{float:left;}
@media (max-width:767px){.call_us_section{text-align:center;}
.call_us_section a{float:none;}
}
.about_banners{width:100%;max-width:1500px;min-height:290px;margin-left:auto;margin-right:auto;}
.about_banners_one{width:100%;min-height:240px;margin-left:auto;margin-right:auto;}
.about_banners .row{margin-right:0;margin-left:0;}
.about_banners img{max-width:100%;}
.about_banners .col-sm-6{padding:0;}
.about_banner_text{padding:35px 17% 0;}
.about_banner_text_one{padding:35px 17%;}
.about_banner_text h1{font-weight:900;}
.about_banner_text p{font-size:16px;color:#686868;line-height:34px;margin:25px 0;font-weight:600;}
@media (max-width:992px){.about_banner_text{padding:25px 9%;}
}
@media (max-width:768px){.about_banner_text{padding:25px 15px;}
.about_banner_text p{font-size:14px;color:#555;line-height:34px;margin:25px 0;font-weight:600;}
}
.feature_img{display:block;max-height:500px;margin-left:auto;margin-right:auto;}
.feature_intro{padding:25px 0 0 0;}
.feature_intro .feature-inner-icon{font-size:48px;margin-bottom:20px;color:#efbf19 ;}
.feature_intro h3{color:#000;margin-bottom:25px;text-transform:capitalize;}
.feature_intro p{font-size:16px;margin-bottom:25px;}
.feature_intro h4{font-size:18px;margin-bottom:15px;text-transform:capitalize;}
.video_section{min-height:350px;position:relative;}
.video_section_inner{width:100%;text-align:center;}
.video_section_inner a i{font-size:100px;color:#ffffff;font-weight:100;}
.video_section_inner h3{color:#ffffff;direction:rtl;position:relative;text-transform:capitalize;text-align:center;}
.header{width:100%;min-height:60px;background-color:transparent;webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.08);-moz-box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.08);-webkit-box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.08);-o-box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.08);}
.sticky_header.header{width:100%;background-color:#FFFFFF;box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.01);-moz-box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.01);-webkit-box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.01);-o-box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.01);min-height:60px;padding-top:0;webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.header .logo{font-family:"Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:30px;text-transform:capitalize;padding:10px 15px;text-shadow:none;font-weight:800;height:100%;line-height:40px;color:#ffffff;}
.header .logo img{float:left;height:40PX;margin-right:5px;}
.header .navbar-nav li a{font-size:13px;background-color:transparent !important;padding:20px 15px;margin:0 5px;font-family:'Roboto', sans-serif;font-weight:500;text-transform:capitalize;letter-spacing:1px;color:#ffffff;}
.header .navbar-nav li a:hover, .header .navbar-nav li.active a{color:#efbf19;}
.sticky_header.header li a ,.sticky_header.header .logo{color:#333333;}
.header.header-white{background-color:#ffffff;}
.header.header-white .logo ,.header.header-white .navbar-nav li a{color:#343434;}
.header.header-white .navbar-nav li a:hover, .header.header-white .navbar-nav li.active a{color:#efbf19;}
.header .mobile_menu_btn{border:solid 1px #1299d5;padding:10px;margin-top:13px;}
.header .mobile_menu_btn span{background-color:#efbf19;}
@media (max-width:992px){.header .navbar-nav li a{padding:20px 10px;}
}
@media (max-width:767px){.header{width:100%;background-color:#ffffff;box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.08);-moz-box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.08);-webkit-box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.08);-o-box-shadow:0 0 42px 0 rgba(0, 0, 0, 0.08);min-height:60px;padding-top:0;webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.header .logo{font-size:30px;text-transform:capitalize;padding:10px 15px;text-shadow:none;font-weight:800;height:100%;color:#000000;}
.navbar-fixed-top .navbar-collapse{max-height:100vh;}
.header_menu{float:none !important;}
.header .navbar-nav li a{font-size:13px;background-color:transparent !important;padding:10px 15px;margin:0 5px;font-family:'Roboto', sans-serif;font-weight:500;text-transform:capitalize;letter-spacing:1px;color:#333333;}
}
.bg-overlay-dark{position:absolute;height:100%;width:100%;top:0;background-color:rgba(34, 35, 40, 0.70);}
.bg-overlay-gradients{position:absolute;height:100%;width:100%;top:0;opacity:0.7;background:#fc00ff;background:-webkit-linear-gradient(to left, #fc00ff , #00dbde);background:linear-gradient(to left, #fc00ff , #00dbde);}
.bg-overlay-white{position:absolute;height:100%;width:100%;top:0;background-color:rgba(227, 227, 227, 0.8);}
.video-btn{margin-left:0;text-transform:capitalize;font-weight:700;font-size:14px;color:#fff !important;outline:0 !important;padding:6px 9px;}
.video-btn i{display:inline-block;font-size:20px;padding-top:1px;padding-left:5px;border:2px solid rgba(255, 255, 255, 0.2);width:40px;height:40px;line-height:35px;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;color:#efbf19;border-radius:50%;margin-right:5px;webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.video-btn:hover i{color:#FFFFFF;background-color:rgba(122, 122, 122, 0.67);webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.hero_parallax{position:relative;display:table;width:100%;}
.hero_parallax_inner{display:table-cell;vertical-align:middle;position:relative;}
.hero_full_screen{height:100vh;display:table;}
.d_table{display:table;}
.hero_full_screen_inner{height:100vh;display:table-cell;vertical-align:middle;}
.hero_half_screen{position:relative;}
.hero_parallax .tlt{border-width:0;padding:0;font-weight:600;margin-bottom:20px;font-size:28px;font-family:"Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center;line-height:45px;}
.hero_parallax p{margin:30px auto 40px auto;font-size:16px;font-weight:400;}
.hero_parallax h1.hero_text{margin:30px auto;font-size:40px;font-weight:900;text-transform:uppercase;}
.hero_parallax h5{margin:30px auto 40px auto;font-size:24px;font-weight:400;}
@media all and (max-width:767px){.hero_parallax .tlt{font-size:22px;line-height:30px;}
.hero_parallax h1.hero_text{margin:0 auto;font-size:18px;font-weight:900;text-transform:uppercase;}
.hero_parallax h5{margin:20px auto;font-size:16px;font-weight:400;}
}
.icon_box_one{margin-bottom:40px;}
.icon_box_one i{min-width:65px;display:block;float:left;font-size:30px;line-height:1;text-align:center;}
.icon_box_one .box_content{margin-left:65px;}
.icon_box_one .box_content h5{font-size:18px;margin-bottom:10px;}
.icon_box_two{margin-bottom:40px;}
.icon_box_two i{min-width:65px;display:block;margin:5px auto 15px;font-size:30px;line-height:1;text-align:center;color:#efbf19 ;}
.icon_box_two .box_content{text-align:center;}
.icon_box_two .box_content h5{font-size:18px;margin-bottom:10px;color:#2a2a2a;}
.icon_box_two .box_content p{color:#2a2a2a;text-align:center;}
.icon_box_three{margin-bottom:40px;}
.icon_box_three i{min-width:65px;display:block;margin:15px auto 25px;font-size:80px;line-height:1;text-align:center;color:#efbf19 ;}
.icon_box_three .box_content{text-align:center;}
.icon_box_three .box_content h5{font-size:18px;margin-bottom:15px;color:#2a2a2a;}
.icon_box_three .box_content p{color:#2a2a2a;text-align:center;}
.section_title_one h6{text-transform:capitalize;}
.section_title_one h3{margin-top:10px;text-transform:capitalize;font-family:"Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.section_title_one h1{color:#979fa6;font-weight:900;font-size:32px;margin-top:10px;text-transform:capitalize;font-family:"Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.section_title_one p{max-width:800px;margin-left:auto;margin-right:auto;color:#404040;font-size:16px;margin-top:20px;}
.portfolio-categories{float:none;text-align:center;position:relative;display:block;margin-bottom:30px;padding:0;}
.portfolio-categories li{float:none;text-align:center;display:inline-block;color:#9d9d9d;padding:10px;cursor:pointer;text-transform:capitalize;font-weight:500;font-size:14px;font-family:'Roboto', sans-serif;webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.portfolio-categories li:hover ,.portfolio-categories li.active{color:#000;background-color:transparent;webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.row.filtr-container{margin:0;display:block;max-width:1500px;position:relative;margin-left:auto;margin-right:auto;position:relative;}
.filtr-container .filtr-item{margin:0;padding:0;overflow:hidden;display:block;}
.project_box{background-color:#fafafa;border:solid 0px #eee;position:relative;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;cursor:pointer;margin-left:auto;margin-right:auto;}
.project_box img{display:block;width:100%;height:100%;transform:translateX(4%) scale(1.08);-webkit-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);-moz-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);-o-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);-ms-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);transition:all 0.6s cubic-bezier(0.300, 0.100, 0.580, 1.000);}
.product_info{position:absolute;opacity:0;top:0;padding:15px;bottom:0;width:100%;background:rgba(50,50,50,0.9);background:linear-gradient(to top,rgba(50,50,50,0.9) 0%,rgba(50,50,50,0.7) 20%,rgba(50,50,50,0.1) 100%);background:-webkit-linear-gradient(to top,rgba(50,50,50,0.9) 0%,rgba(50,50,50,0.7) 20%,rgba(50,50,50,0.1) 100%);background:-o-linear-gradient(to top,rgba(50,50,50,0.9) 0%,rgba(50,50,50,0.7) 20%,rgba(50,50,50,0.1) 100%);background:-ms-linear-gradient(to top,rgba(50,50,50,0.9) 0%,rgba(50,50,50,0.7) 20%,rgba(50,50,50,0.1) 100%);background:linear-gradient(to top,rgba(50,50,50,0.9) 0%,rgba(50,50,50,0.7) 20%,rgba(50,50,50,0.1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#2a2a2a', GradientType=1);-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;transition:all .6s ease-in-out;text-align:center;}
.product_info_text{margin-top:60%;-webkit-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);-moz-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);-o-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);-ms-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);}
.product_info h4{font-size:18px;padding:0;line-height:0;letter-spacing:1px;color:#ffffff;font-weight:400;text-transform:capitalize;margin-bottom:15px;}
.product_info p{margin:0 0 25px 0;font-size:14px;line-height:25px;color:#ddd;font-weight:400;-webkit-font-smoothing:antialiased;word-wrap:break-word;overflow-wrap:break-word;text-transform:capitalize;}
.project_box:hover .product_info{opacity:1;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.project_box:hover .product_info_text{-webkit-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);-moz-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);-o-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);-ms-transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);transition:all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);-webkit-transform:translateY(-99px);-moz-transform:translateY(-99px);transform:translateY(-99px);}
.team_carousel{position:relative;}
.team_item{padding:15px;}
@media all and (max-width:767px){.team_item{padding:0;}
}
.team_box{border:1px solid rgba(244, 244, 244, 0.100);text-align:center;padding:15px;margin-top:15px;border-radius:3px;}
.team_box img{margin-bottom:15px;border-radius:130px;}
.team_box h5{margin-bottom:6px;font-size:15px;color:#313131;font-weight:200;padding-top:15px;padding-bottom:4px;text-transform:capitalize;-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;transition:all .6s ease-in-out;}
.team_box:hover h5{color:#1a8ce4;-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;transition:all .6s ease-in-out;}
.team_box h6{margin-bottom:15px;display:block;font-size:11px;color:#a3a2a2;text-transform:capitalize;}
.team_social{list-style:none;text-align:center;position:relative;float:none;width:100%;padding:0;margin:0 auto;}
.team_social li{display:inline-block;float:none;}
.team_social li a{display:block;height:30px;width:30px;line-height:29px;text-align:center;text-decoration:none !important;border-radius:3px;margin:3px;opacity:0.8;background-color:transparent;color:rgb(51, 51, 51);border:solid 1px #ddd;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;transition:all .4s ease-in-out;}
.team_social li a:hover{opacity:1;color:#ffffff;background-color:#efbf19;border:solid 1px #efbf19;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;transition:all .4s ease-in-out;}
.counter_box{color:#333333;margin:25px auto 15px;}
.counter_icon{font-size:48px;color:#efbf19;}
.counter_number{color:#333;font-size:38px;margin:20px 0;font-weight:400;font-family:'Varela Round', Helvetica, Arial, sans-serif;}
.counter_name{font-size:14px;font-weight:400;}
.pricing_table_one{border:solid 1px #f5f5f5;border-radius:2px;min-height:400px;background:#fff;position:relative;text-align:center;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;transition:all .25s ease-in-out;margin:10px 0;max-width:500px;margin-left:auto;margin-right:auto;}
.pricing_table_one:hover , .pricing_table_one.active{box-shadow:0 0 12px 1px rgba(0, 0, 0, 0.10);-moz-box-shadow:0 0 12px 1px rgba(0, 0, 0, 0.10);-webkit-box-shadow:0 0 12px 1px rgba(0, 0, 0, 0.10);-o-box-shadow:0 0 12px 1px rgba(0, 0, 0, 0.10);}
.pricing_table_one .price_header{padding:20px 0 10px;text-align:center;}
.pricing_table_one .price_header h5{color:#000;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.pricing_table_one .price_header p{font-size:14px;font-style:italic;color:#8a8a8a;margin-top:2px;text-transform:capitalize;}
.pricing_table_one .price_set{padding:20px 0;font-size:11px;text-transform:capitalize;font-style:italic;border-top:solid 1px #eee;border-bottom:solid 1px #eee;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.pricing_table_one .price_set span{color:#333;margin:10px 0 0;font-size:46px;display:inline-block;margin-right:1px;font-style:normal;font-weight:900;}
.pricing_table_one ul.features li{border-bottom:1px solid #f5f5f5;font-size:13px;color:#555;padding:7px 20px;text-align:left;}
.pricing_table_one ul.features li i{color:#333333;margin-right:5px;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.pricing_one_footer{padding:20px 0;}
.pricing_table_one:hover ul.features li i , .pricing_table_one:hover .price_set , .pricing_table_one:hover .price_header h5{color:#efbf19 ;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.pricing_table_one.active ul.features li i , .pricing_table_one.active .price_set , .pricing_table_one.active .price_header h5{color:#efbf19 ;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.blog_carousel{position:relative;}
.blog_item{padding:0 15px;}
@media all and (max-width:600px){.blog_item{padding:0;}
}
.blog_box{background-color:#ffffff;border:1px solid #eee;padding:0;margin-top:15px;position:relative;margin-bottom:20px;border-radius:3px;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;max-width:400px;margin-right:auto;margin-left:auto;}
.blog_box:hover{box-shadow:0 7px 12px 0 rgba(0, 0, 0, 0.10);-moz-box-shadow:0 7px 12px 0 rgba(0, 0, 0, 0.10);-webkit-box-shadow:0 7px 12px 0 rgba(0, 0, 0, 0.10);-o-box-shadow:0 7px 12px 0 rgba(0, 0, 0, 0.10);border-radius:5px;position:relative;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.blog_img{overflow:hidden;max-height:225px;display:block;}
.blog_box img{width:100%;}
.blog_box img{webkit-transition:all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);-moz-transition:all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);-o-transition:all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);transition:all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);width:100%;}
.blog_box:hover img{transform:scale(1.1);}
.blog_content{display:block;padding:12px 25px;}
.blog_content h5{padding:5px 0;font-weight:400;color:#333;font-size:16px;}
.blog_content p{color:#969595;margin-bottom:0;}
.blog_footer_btn{background-color:#f8f8f8;color:#777;padding:5px 10px;border-top:solid 1px #eee;border-radius:0;font-size:11px;font-weight:400;}
.blog_footer_btn a{float:right;display:block;color:#efbf19;text-transform:capitalize;font-size:12px;}
.blog_footer_btn a:hover{color:#222328;}
#map{width:100%;height:315px;border-top:solid 1px #f5f5f5;border-bottom:solid 1px #f5f5f5;}
.contact-form{padding:0 10px;max-width:800px;margin-left:auto;margin-right:auto;}
@media all and (max-width:767px){.contact-form{padding:25px 2px;}
}
.contact-form .input-group-addon{background:#f8f8f8;border-radius:0;font-size:18px;height:40px;font-weight:800;color:#000000;border:1px solid rgba(238, 238, 238, 0.65);border-right:0;}
.contact-form .form-control{background:#f8f8f8;border-radius:0;border:1px solid rgba(238, 238, 238, 0.65);min-height:40px;box-shadow:0 0 0;border-left:0;}
.contact-form textarea.form-control{background:#f8f8f8;border-radius:0;border:1px solid rgba(238, 238, 238, 0.65);min-height:200px;box-shadow:0 0 0;}
.contact-form .submit_btn{display:block;width:100%;text-align:center;margin:0 auto;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;background-color:#efbf19;color:#ffffff;margin-bottom:15px;}
.contact-form .submit_btn:hover{-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;background-color:#333333;color:#ffffff;}
.contact-info-box{margin:50px 0 0;}
.contact-info-box i{font-size:46px;color:#efbf19;}
.contact-info-box h4{text-transform:capitalize;font-size:18px;margin-bottom:0;margin-top:10px;}
.contact-info-box h5{margin:5px 0 0;font-size:13px;line-height:25px;}
.footer_about h4{font-family:'Montserrat', 'Helvetica', 'Arial', sans-serif;font-size:30px;text-transform:capitalize;padding:5px;color:#f5f5f5;text-shadow:none;margin-bottom:15px;margin-top:15px;font-weight:800;}
.footer_about p{color:#eee;}
.footer_social{list-style:none;width:100%;padding:0;margin-bottom:0px;}
.footer_social li{display:inline-block;float:none;}
.footer_social li a{display:block;height:35px;width:35px;color:#ffffff !important;line-height:37px;text-align:center;text-decoration:none !important;border-radius:3px;margin:3px;opacity:0.8;}
.footer_social li a:hover{opacity:1;}
.footer_social_p{color:#c9c9c9;font-size:14px;}
.footer_header{color:#ffffff;font-size:16px;margin:22px 0 5px;position:relative;}
.footer_header:before{content:"";display:block;position:absolute;bottom:0;width:70%;border-bottom:2px solid #404040;}
.footer_header:after{content:"";display:block;width:35px;border-bottom:2px solid #efbf19;margin:20px auto 25px 0;z-index:1;position:relative;}
.footer-list li a{color:#979fa6;}
.footer-list li a:hover,.footer-list li a:focus{color:#c8d3dc;}
.copy-rights{text-align:center;margin:0;color:#9d9d9d;}
footer address{line-height:27px;font-size:13px;color:#ccc;margin-top:10px;background-image:url("../img/map.png");background-size:contain;background-repeat:no-repeat;background-position:left;}
footer address strong{text-transform:capitalize;font-weight:500;color:#ffffff;}
.footer_author{color:#999;width:100%;display:block;background-color:#1d1e20;padding:15px 0 10px;}
.footer_author p{margin:0;padding:0;font-size:12px;}
.testmonial_section{position:relative;width:100%;min-height:350px;}
.testmonial_section_inner{display:block;vertical-align:middle;}
.item{padding:0 15px;}
@media all and (max-width:767px){.item{padding:0;}
}
.testimonial_carousel{text-align:center;max-width:600px;margin-right:auto;margin-left:auto;}
.testimonial-box h5{line-height:30px;color:#ffffff;font-weight:400;font-size:16px;}
.testimonial-box img{height:60px;margin:10px 0;}
.testimonial-box h6{font-size:19px;color:#ffffff;}
.testimonial-box P{font-size:14px;color:#ffffff;}
.progress{height:5px;margin-bottom:25px;overflow:hidden;background-color:#f5f5f5;border-radius:4px;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1);}
.single_progressbar{padding:10px;background-color:#ffffff;border:solid 1px #eee;border-radius:2px;margin-bottom:15px;}
.progress-bar{height:100%;font-size:12px;line-height:16px;color:#fff;text-align:center;background-color:#efbf19;}
.skill_text{margin-bottom:5px;}
.skill_text span{color:#202020;}
.skill_text span.skill_bar{color:#efbf19;}
.resume_timeline{margin-top:20px;position:relative;padding:1em 0;list-style:none;}
.resume_timeline:before{width:5px;height:100%;position:absolute;left:25px;top:0;content:' ';display:block;background:#efbf19 ;background:-moz-linear-gradient(top, #ffffff 0%, #efbf19  7%, #efbf19  89%, #ffffff 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#efbf19 ), color-stop(89%,#efbf19 ), color-stop(100%,#ffffff));background:-webkit-linear-gradient(top, #ffffff 0%,#efbf19  7%,#efbf19  89%,#ffffff 100%);background:-o-linear-gradient(top, #ffffff 0%,#efbf19  7%,#efbf19  89%,#ffffff 100%);background:-ms-linear-gradient(top, #ffffff 0%,#efbf19  7%,#efbf19  89%,#ffffff 100%);background:linear-gradient(to bottom, #ffffff 0%,#efbf19  7%,#efbf19  89%,#ffffff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);}
.resume_timeline li.resume_box{width:100%;z-index:2;position:relative;float:left;}
.resume_timeline .company_year{width:20%;padding:10px;font-size:13px;font-weight:700;display:inline-block;color:#efbf19 ;}
.resume_timeline .company_year span{color:#555;display:block;}
.resume_timeline .resume_box_description{width:80%;display:inline-block;margin-bottom:30px;position:relative;padding:10px 10px 0 10px;}
.resume_timeline .resume_box_description h4{font-size:16px;margin:0;padding:0;font-weight:700;}
.resume_timeline .resume_box_description p{font-size:14px;margin-top:5px;padding:0;}

.g-recaptcha{float:left;}
#submit{margin-top: 17px;margin-left: 17px;}
#msgSubmit{float: left;width: 100%;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
