<mat-toolbar >
<mat-toolbar-row color="primary" >
  <img class="virtualCoderLogo mx-auto" src="assets/img/VC_logo_white.png" style="margin-left: 20em;">
  
  <button  mat-button class="col-md-1" href="#about" routerLink="/about"> About Us</button>
  <button  mat-button class="col-md-1"  href="#service" routerLink="/services"> Services</button>
  <button  mat-button class="col-md-1"  href="#project" routerLink="/projects"> Projects</button>
  <button  mat-button  class="col-md-1"  href="#team"routerLink="/team"> Team</button>
  <button  mat-button class="col-md-1"  href="#contact" routerLink="/contact"> Contact</button>
   
</mat-toolbar-row>
</mat-toolbar>
<div class="wrapper">
<mat-card class="wrapper"  >
  <mat-card-title style="text-align:center; margin-top: 15em; " [@movePanel]='state'>
    <h2 class="h2-responsive">
     <span> {{ title }}  </span>
    </h2>
  </mat-card-title>
    <mat-card-content style="text-align:center" [@movePanel]='state'>
      <span class="h3-responsive"> {{ content }}</span>
    </mat-card-content>

    <div class="center"  [@movePanel]='state'>
      <span class="h3-responsive" style="font-family:sans-serif"> {{ content1 }}</span>
      &nbsp;
      <button mat-raised-button (click)="showDetail()">Excite Us</button>
    </div>
 
</mat-card>

</div>